<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../../imgs/favicon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Voice and data radio system consultants for public safety, government and businesses. Focuses on planning, design and project implementation.">
</head>